<% include ./partials/header %>
<br><br><br>
    <div class='ui main text container inverted segment'>
        <div class='ui huge header'>Login</div>
        <form class='ui form' action='/login' method='POST'>
            <div class='field'>
              <label><br></label>
              <input type='text' name='username' placeholder="Username"></input>
              <label><br></label>
              <input type='password' name='password' placeholder="Password"></input>
            </div>
          <input class='ui green basic button' type="submit"></input>
        </form>
    </div>
<% include ./partials/footer %>